[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=nem0031
WorkingDirectory=/home/nem0031/sites/DOMAIN/source

ExecStart=/home/nem0031/sites/staging.workspaceonline.net/virtualenv/bin/gunicorn \
    --bind unix:/tmp/DOMAIN.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target
