[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=nem0031
WorkingDirectory=/home/nem0031/sites/SITENAME/source

ExecStart=/home/nem0031/sites/SITENAME/virtualenv/bin/gunicorn \
    --bind unix:/tmp/SITENAME.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target
