[Unit]
Description=Gunicorn server for staging.workspaceonline.net

[Service]
Restart=on-failure
User=nem0031
WorkingDirectory=/home/nem0031/sites/staging.workspaceonline.net/source

ExecStart=/home/nem0031/sites/staging.workspaceonline.net/virtualenv/bin/gunicorn \
    --bind unix:/tmp/staging.workspaceonline.net.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target
